@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
       url('../fonts/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic/CenturyGothic-Regular.woff') format('woff'),
       url('../fonts/CenturyGothic/CenturyGothic-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AcuminPro';
  src: url('../fonts/AcuminPro/AcuminPro-Black.woff') format('woff'),
       url('../fonts/AcuminPro/AcuminPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}